@using PictureGallery.Models.ManageAlbum
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AddNewPictureVM
@{
    ViewData["Title"] = "AddNewPicture";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>AddNewPicture</h2>
<form asp-action="AddNewPicture" method="post" enctype="multipart/form-data">
    @if (ViewContext.ViewData.ModelState.IsValid == false)
    {
        <div class="panel panel-danger">
            <div class="panel-heading">
                There were some input errors.
            </div>
            <div class="panel-body">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
    }
    Picture: <input asp-for="Picture" type="file" /><span asp-validation-for="Picture" style="color:red"></span> <br />
    Description: <input asp-for="Description" /><span asp-validation-for="Description" style="color:red"></span><br />
    <input asp-for="AlbumId" type="hidden"/>
    <input type="submit" />
</form>