@using PictureGallery.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Web
@model AddUserProfileVM
@{
    ViewData["Title"] = "MakeNewProfile";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>MakeNewProfile</h2>

<form asp-action="MakeNewProfile" method="post" enctype="multipart/form-data">
    @if (ViewContext.ViewData.ModelState.IsValid == false)
    {
        <div class="panel panel-danger">
            <div class="panel-heading">
                There were some input errors.
            </div>
            <div class="panel-body">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
    }
    Profile Picture: <input asp-for="ProfilePictureUpload" type="file"/><span asp-validation-for="ProfilePictureUpload" style="color:red"></span> <br />
    User Name: <input asp-for="UserName" /><span asp-validation-for="UserName" style="color:red"></span><br />
    <input type="submit" />
</form>