@using PictureGallery.Models.Shared
@model UserProfileVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/Shared/partialPresentUser.css" asp-append-version="true" />
</head>

<div class="User-div">
    <a asp-controller="UserProfileDetails" asp-action="Index" asp-route-id="@Model.Id">
        <div>
            <img class="User-img" src="data:image/png;base64, @Model.ProfilePictureVM.Data"/>
            <p class="User-name">@Model.UserName</p>
        </div>
    </a>
</div>
