@using PictureGallery.Models.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PictureVM
@{
    ViewData["Title"] = "PicturePartial";
}

<head>
    <link rel="stylesheet" href="~/css/Shared/picturePartial.css" asp-append-version="true" />
</head>

<div style="padding:10px;">
    <a class="Rectangle" asp-controller="PictureDetails" asp-action="Index" asp-route-id="@Model.Id">
        <div class="row Image-div">
            <div class="col-sm-6">
                <img class="Image" src="data:image/png;base64, @Model.Data" />
            </div>
            <div class="col-sm-4">
                <p>@Model.Description</p>
            </div>
            <div class="col-sm-2">
                <p>@Model.DateCreated</p>
            </div>
        </div>
    </a>
</div>



