.Add-new-title {
    width: 100%;
    height: 31px;
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.Rectangle-input {
    padding: 5px;
    margin: 5px auto;
    width: 500px;
    height: 44px;
    border-radius: 50px;
    border: solid 1px #f5a623;
}

.Rectangle-submit {
    margin: 5px auto;
    width: 301px;
    height: 44px;
    border-radius: 50px;
    background-color: #f5a623;
}

.Button-div {
    margin: 5px auto;
    width: 301px;
}

.InputDiv {
    margin: 5px auto;
    width: 500px;
    margin-top: 10px;
}

.cancle-button {
    display: block;
    margin: 5px auto;
    width: 301px;
    height: 44px;
    padding: 10px;
    border-radius: 50px;
    background-color: red;
    color: black;
    border-bottom: solid;
    border-bottom-color: black;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
}
.Change-title {
    width: 100%;
    height: 31px;
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.Label-div {
    margin: 5px auto;
    width: 100%;
    text-align:center;
}

.Input-image {
    margin: 5px auto;
    width: 44px;
    height: 44px;
    object-fit: contain;
    align-content: center;
    margin-bottom: 25px;
}

.Rectangle-submit {
    margin: 5px auto;
    width: 301px;
    height: 44px;
    border-radius: 50px;
    background-color: #f5a623;
}

.FileDiv {
    margin: 5px auto;
    padding-left: 25px;
    padding-right: 25px;
    width: 125px;
}

.Button-div {
    margin: 5px auto;
    width: 301px;
}

.Choose-file {
    background-color: black;
}

input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.custom-file-upload {
    margin: 5px auto;
    width: 50px;
    background-image: url(~/Content/add.svg);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.File-label {
    width: 100%;
    color: #cccccc;
    text-align: center;
}

.File-label-div {
    margin: 5px auto;
    width: 500px;
}

.Img-prev {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.Img-prev-div {
    margin: 5px auto;
    width: 100px;
}

.cancle-button {
    display: block;
    margin: 5px auto;
    width: 301px;
    height: 44px;
    padding: 10px;
    border-radius: 50px;
    background-color: red;
    color: black;
    border-bottom: solid;
    border-bottom-color: black;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
}
.my-profile {
    width: 100%;
    height: 20px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.my-profile-picture {
    width: 68px;
    height: 68px;
    border-radius: 34px;
}

.my-user-name {
    margin-top: 20px;
    width: 100%;
    height: 20px;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.button-div {
    width: 90%;
    height: 40px;
    padding: 10px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    border-radius: 50px;
    background-color: #f5a623;
    color: black;
    border-bottom: solid;
    border-bottom-color: black;
}

.button-par {
    text-decoration: none;
    font-size: 16px;
}

.album-section {
    margin: 20px;
}

.user-group {
    height: 40px;
    padding-top: 10px;
    margin-left: 10px;
    margin-top: 6px;
    font-size: 20px;
    font-family: Arial;
    color: #000000;
}

.cont {
    overflow-y: scroll;
    overflow-x: hidden;
}