@using PictureGallery.Models.ManageProfile
@model AddAlbumVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddNewAlbumView";
    Layout = "~/Pages/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/ManageProfile/addNewAlbum.css" asp-append-version="true" />
</head>

<h2 class="Add-new-title">Add New Album</h2>

<div class="row">
    <div class="col-sm-12">
        <form asp-action="AddNewAlbum" method="post">
            <div class="form-group InputDiv">
                <label>Album description: </label>
                <input asp-for="Description" class="Rectangle-input" />
                <span asp-validation-for="Description" style="color:red"></span><br />
            </div>
            <div class="Button-div">
                <button type="submit" class="Rectangle-submit">Submit</button>
            </div>
        </form>
        <a class="cancle-button" asp-action="Index">Cancle</a>
    </div>
</div>


