@using PictureGallery.Models.Shared
@model AlbumVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AlbumPartial";
}
<head>
    <link rel="stylesheet" href="~/css/Shared/albumPartial.css" asp-append-version="true" />
</head>

<div class="album-div">
    <a asp-controller="ManageAlbum" asp-action="Index" asp-route-id="@Model.Id">
        <div>
            <img class="album-img" src="~/Content/album.jpg" /><br />
            <p class="description-par">@Model.Description</p>
            <div class="date-div">
                <label>Date created</label>
                <p>@Model.DateCreated</p>
            </div>
        </div>
    </a>
</div>


