@using PictureGallery.Models.ManageProfile
@model ManageProfileVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/ManageProfile/index.css" asp-append-version="true" />
</head>

<div class="row">
    <div class="col-sm-3" style="padding:5px">
        <p class="my-profile">My profile</p>
        <hr />
        <div class="row" style="margin-bottom:10px;">
            <div class="col-sm-4">
                <img class="my-profile-picture" src="@Model.UserProfileVM.ProfilePictureVM.Url" /> <br />
            </div>
            <div class="col-sm-8">
                <p class="my-user-name">@Model.UserProfileVM.UserName</p>
            </div>
        </div>
        <hr/>
        <a class="button-href" asp-action="ChangeProfilePicture"> 
            <div class="button-div">
                <p class="button-par">Change Profile Picture</p>
            </div>
        </a><br/>
        <a class="button-href" asp-action="AddNewAlbum">
            <div class="button-div">
                <p class="button-par">Add New Album</p>
            </div>
        </a><br />
    </div>
    <div class="col-sm-5 album-section">
        @foreach (var item in Model.Albums)
            {
            @Html.Partial("~/Views/ManageProfile/AlbumPartial.cshtml", item)
        }
    </div>
</div>

@section Scripts
    {
    <script src="~/js/jquery.nicescroll.js"></script>
    <script src="~/js/ManageProfile/index.js"></script>
}