@page
@model PictureGallery.Pages.Account.ContactModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Contact</h2>
<a href="mailto:ivan.maltar@fer.hr">ivan.maltar@fer.hr</a>

