@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/_Layout.cshtml";
}

<body>
    <h1>Picture Gallery</h1>
    <a asp-controller="Main" asp-action="Index">ENTER</a>
</body>